@model Emdat.SoftwareSite.Models.InScribeViewModel
@{
    ViewBag.Title = "InScribe ASR Training";
    ViewBag.CurrentTab = "InScribe";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box left">
    <fieldset>
        <legend>Pre-recorded webinar trainings and other videos</legend>
        <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0" class="grid">
            <tr>
                <th></th>
                <th>Structured</th>
                <th>Unstructured</th>
            </tr>
            <tr>
                <td class="left">Edit Training webinar Part 1</td>
                <td></td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "ASR_Edit_Training_Unstructured_Part1.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
            </tr>
            <tr>
                <td class="left">Edit Training webinar Part 2</td>
                <td></td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "ASR_Edit_Training_Unstructured_Part2.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
            </tr>
            <tr>
                <td class="left">Edit Training webinar Part 3</td>
                <td></td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "ASR_Edit_Training_Unstructured_Part3.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
            </tr>
            <tr>
                <td class="left">ASR General Edit Training webinar</td>
                <td></td>
                <td><a href="https://learning.nuance.com/Files/NTS%20Shared/SRTipsTechniques_SE6024/2011-12-21_EditingTipsTechniquesWebinar_S5Rlimi.mp4" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
            </tr>
            <tr>
                <td class="left">Structured Edit Training webinar</td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "SS_ASR_Structured_Document_Edit_Training.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
                <td></td>
            </tr>
            <tr>
                <td class="left">Quick Start Part 1</td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "Working_in_Structured_Documents_Quick_Start-IntroP1.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
                <td></td>
            </tr>
            <tr>
                <td class="left">Quick Start Part 2</td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "Working_in_Structured_Documents_Quick_Start-Typing_P2.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
                <td></td>
            </tr>
            <tr>
                <td class="left">Quick Start Part 3</td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "Working_in_Structured_Documents_QuickStart_EdtingP3.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
                <td></td>
            </tr>
            <tr>
                <td class="left">Quick Start Part 4</td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "Working_in_Structured_Documents_Quick_Start-Doc_Dict_TemplatesP4.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
                <td></td>
            </tr>
            <tr>
                <td class="left">Tips and Tricks</td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "Working_in_Structured_Documents_Quick_Start-tips_and_tricksP5.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>ShadowScribe ASR Practice Drafts and self-paced training files</legend>
        <p><a href="@Url.Action("Index", "Download", new { fileName = "ShadowScribeUnstructuredTrainingSetup.exe" })">InScribe 6 ShadowScribe Edit Training Part 2 – Unstructured</a></p>
        <p>NOTE: This course starts with Lesson 9 and goes to Lesson 16. This course is the 2nd half of a 2 part training. Part 1 training is in development and contains Lessons 1 – 8 which covers typing from scratch in ShadowScribe ASR and will be made available in the future. It is assumed MT/MLS's that take this training have typed from scratch on ShadowScribe ASR.</p>
    </fieldset>
    <fieldset>
        <legend>Practice Drafts</legend>
        <p><a href="@Url.Action("Index", "Download", new { fileName = "PracticeDraftsStructuredTrainingSetup.exe" })">InScribe 6 Practice Drafts – Structured</a></p>
        <p><a href="@Url.Action("Index", "Download", new { fileName = "PracticeDraftsUnstructuredTrainingSetup.exe" })">InScribe 6 Practice Drafts – Unstructured</a></p>
    </fieldset>
</div>
<div class="grid-box right">
    <fieldset>
        <legend>InScribe Shortcut Program Using ASR-Enhanced Shortcuts</legend>
        <p>This program teaches the recommended keyboard shortcuts for gaining efficiency in both the structured and unstructured documents. Each week has a video and exercises for the shortcuts to learn that week. At the end of each exercise is a quiz the test your shortcut knowledge. Click on the Shortcut Listing Guide to get an overview of the program.</p>
        <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0" class="grid">
            <tr>
                <th></th>
                <th>Structured</th>
                <th>Unstructured</th>
            </tr>
            <tr>
                <td class="left">Shortcut Listing Guide</td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20SHORTCUT%20LISTING-str.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a></td>
                <td><a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20SHORTCUT%20LISTING-uns.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a></td>
            </tr>
            <tr>
                <td class="left">Week 1</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week1_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%201%20and%20Intro.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week1.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%201%20and%20Intro.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 2</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week2_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%202.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week2.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%202.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 3</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week3_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%203.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week3.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%203.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 4</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week4_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%204.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week4.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%204.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 5</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week5_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%205.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week5.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%205.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 6</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week6_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%206.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week6.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%206.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 7</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week7_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%207.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week7.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%207.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 8</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week8_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%208.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week8.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%208.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 9</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week9_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%209.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week9.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%209.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 10</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week10_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%2010.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week10.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%2010.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 11</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week11_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%2011.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week11.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%2011.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 12</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week12_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%2012.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week12.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%2012.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 13</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week13_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%2013.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week13.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%2013.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 14</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week14_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%2014.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week14.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%2014.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 15</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week15_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%2015.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week15.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%2015.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
            <tr>
                <td class="left">Week 16</td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week16_STR.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-str%20week%2016.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Download", new { fileName = "ASR-Enhanced_Shortcut_Program_Week16.mp4" })" style="text-decoration: none;"><i class="fas fa-film"></i></a>
                    <a href="@Url.Action("Index", "Download", new { fileName = "MT-MLS%20InScribe%20ASR-Enhanced%20Shortcuts%20Program-uns%20week%2016.pdf" })" style="text-decoration: none;"><i class="far fa-file-pdf"></i></a>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>ShadowScribe ASR Manuals and Guides</legend>
        <p><a href="@Url.Action("Index", "Download", new { fileName = "ShadowScribe%20II%20MT%20User%20Guide%2020131223.pdf" })">ShadowScribe ASR - MT User Guide</a></p>
        <p><a href="@Url.Action("Index", "Download", new { fileName = "ShadowScribe%20II%20MTE%20User%20Guide%2020131223.pdf" })">ShadowScribe ASR - MTE User Guide</a></p>
        <p><a href="@Url.Action("Index", "Download", new { fileName = "SS%20II%20QuickRef%20for%20MTs%2020131223%20vre.pdf" })">ShadowScribe ASR - Quick Reference Guide</a></p>
    </fieldset>
</div>