<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.IncludedStyles()
    @Html.IncludedScripts()
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24216530-28"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-24216530-28');
    </script>
</head>
<body>
    @Html.Action("Header", "Home")
    <div class="emdat-master-tabs">
        <div class="tabs-container">
            @Html.Action("Tabs", "Navigation", new { currentTab = ViewBag.CurrentTab })
        </div>
    </div>
    <div class="master-frame">
        <div class="emdat-content-body">
            @RenderBody()
        </div>
        @Html.Action("Footer", "Home")
    </div>
    @* Spacer div to make sure the page is tall enough that the footer doesn't float over the content when scrolled all the way to the bottom *@
    <div style="clear:both; height: 10px"></div>
    @RenderSection("scripts", false)
</body>
</html>