@model Emdat.SoftwareSite.Models.InSyncViewModel

@{
    ViewBag.Title = "InSync";
    ViewBag.CurrentTab = Model.ApplicationCode;
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box left">
    <fieldset>
        <legend>@Model.ApplicationName Software Download</legend>
        @Html.DisplayFor(m => m.SupportedOperatingSystemWarning, "Warning")
        <p>One of the steps of installing and configuring your recorder will direct you to download the @Model.ApplicationName software, found below.</p>
        @Html.DisplayFor(m => m.VersionInformation)
        <p>InSync supports any digital recorder that connects to a computer as a “removable drive” and records in any of these standard audio formats: DSS, DS2, MP3, SRI, WAV, WMA, MSV.</p>
        @Html.DisplayFor(m => m.SupportedRecorderWarning, "Warning")
    </fieldset>
</div>
@Html.DisplayFor(m => m.AdditionalLinks, "AdditionalLinks", new { FloatRight = true })