@model Emdat.SoftwareSite.Models.ApplicationVersions
@{ 
    var showManualColumn = Model.Versions.Any(v => !string.IsNullOrWhiteSpace(v.ManualPdfFileName) || !string.IsNullOrWhiteSpace(v.ManualWordFileName));
}
<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0" class="grid">
        <tr>
            <th>Version</th>
            <th>Install Link</th>
            @if (showManualColumn)
            {
            <th>Manual</th>
            }
            @if (Model.ShowVersionHistory)
            {
            <th>Version History</th>
            }
        </tr>
    @foreach (var version in Model.Versions)
    {
        <tr>
            <td>@version.MajorVersionNumber</td>
            <td><a href="@Url.Action("Index", "Download", new { fileName = version.InstallerFileName })">@version.VersionNumber</a></td>
            @if (showManualColumn)
            {
            <td>
                @if (!string.IsNullOrEmpty(version.ManualPdfFileName))
                {
                <a href="@Url.Action("Index", "Download", new { fileName = version.ManualPdfFileName })" class="nodecor" style="padding-right: 10px" target="_blank"><i class="far fa-file-pdf"></i></a>
                }
                @if (!string.IsNullOrWhiteSpace(version.ManualWordFileName))
                {
                <a href="@Url.Action("Index", "Download", new { fileName = version.ManualWordFileName })" class="nodecor" target="_blank"><i class="far fa-file-word"></i></a>
                }
            </td>
            }
            @if (Model.ShowVersionHistory)
            {
            <td>
                @Html.ActionLink("Version History", "VersionHistory", null, null, null, version.VersionNumber, null, null)
            </td>
            }
        </tr>
    }
    </table>