@{
    ViewBag.Title = "InCommand";
    ViewBag.CurrentTab = "InCommand";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box middle">
    <fieldset>
        <legend>InCommand</legend>
        <p>@Html.ActionLink("InCommand Manual", "Index", "Download", new { fileName = "eScription One InCommand Manual November 2020.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("Distribution Rules User Guide", "Index", "Download", new { fileName = "eScription One Distribution Rules User Guide November 2020.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("How to Login Using MFA", "Index", "Download", new { fileName = "How to Log in Using MFA for InCommand and InScribe.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("InTouch Emulation Configuration Manual", "Index", "Download", new { fileName = "eScription One InTouch Emulation Configuration Guide.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("InVision Custom Column Reports Manual", "Index", "Download", new { fileName = "eScription One Custom Columns March 2019.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("QA Ratings and Feedback Manual", "Index", "Download", new { fileName = "eScription One InScribe QA Ratings and Feedback Manual June 2019.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("Structured Template Setup Manual for ASR and EHR", "Index", "Download", new { fileName = "eScription One Structured Template Setup Manual for ASR and EHR April 2019.pdf" }, new { target = "_blank" })</p>
    </fieldset>
</div>